@model Proyecto_Resto.Models.Plato

@{
    ViewData["Title"] = "Create";
}

<br />
<br />
<br />
<br />
<br />

<div align="center" class="jumbotron"> 
<h4>Nuevo Plato</h4>
<hr />
<div >
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label><br />
                <input asp-for="nombre" class="caja" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="descricpion" class="control-label"></label><br />
                    <input asp-for="descricpion" class="caja" />
                <span asp-validation-for="descricpion" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="precio" class="control-label"></label><br />
                    <input asp-for="precio" class="caja" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="stock" class="control-label"></label><br />
                    <input asp-for="stock" class="caja" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Imagen" class="control-label"></label><br />
                    <input asp-for="Imagen" class="caja" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Añadir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</div>

<div>
    <a asp-action="Index">volver atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
