@{
    ViewData["Title"] = "Home Page";
}

<br />

@*SUBMENU*@

@if (User.IsInRole("CLIENTE") || User.IsInRole("ADMIN"))
{
    <table class="tabla">

        <tr class="fila">


            @if (User.IsInRole("CLIENTE"))
            {


                <th class="columna">
                    <a class="nav-link text-white" asp-area="" asp-controller="Platos" asp-action="Index">Ver Menu</a>
                </th>


                <th class="columna">
                    <a class="nav-link text-white" asp-area="" asp-controller="Restaurantes" asp-action="Index">Ver Restaurantes</a>
                </th>

                <th class="columna">
                    <a class="nav-link text-white" asp-area="" asp-controller="ItemReservas" asp-action="Index">Hacer Reserva</a>
                </th>

            }
            else if (User.IsInRole("ADMIN"))
            {
                <th class="columna">
                    <a class="nav-link text-white" asp-area="" asp-controller="Platos" asp-action="Index">Administrar Platos</a>
                </th>
                <th class="columna">
                    <a class="nav-link text-white" asp-area="" asp-controller="Restaurantes" asp-action="Index">Restaurantes</a>
                </th>

                <th class="columna">
                    <a class="nav-link text-white" asp-area="" asp-controller="Clientes" asp-action="Informe1">Informe de Ganancias</a>
                </th>

                <th class="columna">
                    <a class="nav-link text-white" asp-area="" asp-controller="Reservas" asp-action="ObtenerTicketMayor2">Mejor Reserva</a>
                </th>

                

            }

        </tr>
    </table>
}

<div class="container-slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            
            
            
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/bebidas.jpg" class="slider__img d-block w-100" alt="...">
            </div>         

              <div class="carousel-item">
                <img src="img/sebastian-schuppik-H7xTpvBjJS4-unsplash.jpg" class="slider__img d-block" width="1150px" height="350px">
            </div>

            <div class="carousel-item">
                <img src="img/carousel.jpg" class="slider__img d-block " width="1150px" height="350px">
            </div>
          
        </div>
        <!-- botones slider-->
        <button class="carousel-control-prev btn-secondary" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn-secondary" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>






            

@*CARRUSEL*@
<br />
<br />
@*<img src="~/img/bebidas.jpg" class="d-block w-100" width="100px" height="400px">*@

