@model Proyecto_Resto.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<br />
<br />
<br />
<br />
<br />

<div align="center" class="jumbotron">
    <h4> Nuevo Usuario</h4>
    <img src="~/img/2.png" width="80px"/>
    <div >
        <div >
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<input asp-for="Email" class="form-control" hidden />*@
                <input type="hidden" asp-for="Email" />
                
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label><br />
                    <input asp-for="Nombre" class="caja" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label><br />
                    <input asp-for="Apellido" class="caja" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-outline-dark my-3" />
                </div>
            </form>
        </div>
    </div>

</div>


<div>
    <a asp-action="Index">volver atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
