@model Proyecto_Resto.Models.Cliente

@{
    ViewData["Title"] = "Details";
}


<div align="center">
    <h1>Informacion del Usuario</h1>
    <div class="card" style="width: 18rem;" align="center">
    <img src="~/img/cafe.png" class="imgDatos"  width="100px">
  <div class="card-body">
        Nombre : @Html.DisplayFor(model => model.Nombre) <br />
        Apellido : @Html.DisplayFor(model => model.Apellido)<br />
        Email : @Html.DisplayFor(model => model.Email)<br /><br /><br />
            @if (User.IsInRole("CLIENTE"))
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>

            
                <a asp-controller="Home" asp-action="Index">Salir</a>

            }
            else if (User.IsInRole("ADMIN"))
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>

                
                <a asp-controller="Home" asp-action="Index">Salir</a>

                <br />
                <a asp-action="Index">volver</a>
            }
  </div>
</div>

</div>


